footer {
    background: #4db5ff;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9;
    margin-top: 7rem;
  }
  
  footer a {
    color: #1f1f38;
    text-decoration: none;
  }
  footer a :hover {
    font-size: x-large;
  }
  
  .footer__logo {
    /* font-size: 2rem; */
    /* font-weight: 500; */
    /* margin-bottom: 1rem; */
    display: inline-block;
  }
  
  .permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 0.5rem;
  }
  
  .footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer__socials a {
    background: #1f1f38;
    color: #fff;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
  }
  
  .footer__socials a:hover {
    background: transparent;
    color: #1f1f38;
    border-color: #1f1f38;
  }
  
  .footer__copyright {
    margin-top: 0.7rem;
    color: #1f1f38;
  }